$transitionSpeed: 0.5s;

body{
  margin: 0;
  padding: 0;
}

.InstantPreview-wrapperAll.is-previewing .InstantPreview-handle{
  left: calc(50% - 10px);
}

.InstantPreview-handle{
  position: fixed !important;
  top: 0 !important;
  bottom: 0;
  left: calc(100% - 10px);
  z-index: 1;
  box-sizing: border-box;
  width: 10px;
  border-right: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
  background: #F6F6F6 url(handle.png) no-repeat 3px center;
  cursor: col-resize;
  transition: left $transitionSpeed;
}

.InstantPreview-formIframe{
  position: absolute;
  width: calc(100% - 9px);
  height: 100%;
  border: none;
  transition: width $transitionSpeed;
}

.InstantPreview-wrapperAll.is-previewing .InstantPreview-formIframe{
  position: absolute;
  left: 0;
  width: calc(50% - 9px);
}

.InstantPreview-iframeFix,
.InstantPreview-outputWrapper{
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  box-sizing: border-box;
  width: 0%;
  height: 100%;
  transition: width $transitionSpeed;
}

.InstantPreview-iframeFix--form{
  right: auto;
  left:0;
}

.InstantPreview-output{
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  width:100%;
  height: 100%;
  border: none;
}

.InstantPreview-iframeFix,
.InstantPreview-wrapperAll.is-previewing .InstantPreview-outputWrapper{
  width: 50%;
}
.InstantPreview-iframeFix{
  position:absolute;
  opacity: 0.001;
}

.InstantPreview-wrapperAll.is-transitionsDisabled .InstantPreview-outputWrapper,
.InstantPreview-wrapperAll.is-transitionsDisabled .InstantPreview-formIframe,
.InstantPreview-wrapperAll.is-transitionsDisabled .InstantPreview-handle{
  transition: none;
}

.sk-folding-cube {
  position: relative;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.InstantPreview-outputLoaderWrapper {
  display: none;
  &.is-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block !important;
    background: rgba(black, 0.5);
    content: '';
  }
}
.InstantPreview-outputLoader{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 1;
  color: #fff;
  font-size: 29px;
  font-family: sans-serif;
  transform: translateX(-50%) translateY(-50%) scale(2);
}
